<footer class="footer py-1 mt-auto">
    <div class="container text-center footer-border footer-color">

        <!-- Copyright text -->
        <p class="mt-2 fw-bold fs-5">
            copyright © @DateTime.Now.Year kohorta
        </p>
    </div>


</footer>

<style>
    .footer-color{
        color: #6c757d;
    }
    .footer-border {
        border-top: 1px solid;
    }
</style>
