@model AssignUsersViewModel

@if (Model.Users.Any())
{
    <div class="d-flex flex-column gap-2">
        @foreach (var user in Model.Users)
        {
            <div class="list-group-item bg-white text-dark border border-secondary-subtle d-flex align-items-center justify-content-between rounded p-3 mb-2 w-100 small">
                @await Html.PartialAsync("_UserItem", user, new ViewDataDictionary(ViewData)
                {
                    { "icon", "bi-person-circle" },
                    { "textClass", "text-muted" },
                    { "maxNameLength", 25 },
                    { "maxEmailLength", 25 }
                })

                <button hx-delete hx-action="UnassignUser" hx-route-dashboardId="@Model.DashboardId" hx-vals='{"userId": "@user.UserId"}' hx-swap="none" class="btn btn-danger btn-sm rounded-3">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </div>
        }
    </div>
}
else
{
    <p class="text-center text-muted fs-5">No users assigned yet.</p>
}
