@model ChangePasswordViewModel

<!-- Current password -->
<div class="form-group mb-3 text-start">
    <label asp-for="CurrentPassword" class="form-label fw-bold text-orange">current password</label>
    <div class="password-wrapper position-relative">
        <input asp-for="CurrentPassword" class="form-control rounded-3 shadow-none pe-5" placeholder="*************" required autocomplete="current-password">
        <i class="bi bi-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"></i>
    </div>
    <span asp-validation-for="CurrentPassword" class="text-danger fs-6"></span>
</div>

<!-- New password -->
<div class="form-group mb-3 text-start">
    <label asp-for="NewPassword" class="form-label fw-bold text-orange">new password</label>
    <div class="password-wrapper position-relative">
        <input asp-for="NewPassword" class="form-control rounded-3 shadow-none pe-5" id="Password" placeholder="*************" required autocomplete="new-password">
        <i class="bi bi-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"></i>
    </div>
    <span asp-validation-for="NewPassword" class="text-danger fs-6"></span>
</div>

<!-- Confirm new password -->
<div class="form-group mb-3 text-start">
    <label asp-for="ConfirmPassword" class="form-label fw-bold text-orange">confirm password</label>
    <div class="password-wrapper position-relative">
        <input asp-for="ConfirmPassword" class="form-control rounded-3 shadow-none pe-5" id="PasswordRepeat" placeholder="*************" required autocomplete="new-password">
        <i id="passwordMatchIcon" class="bi bi-check-circle-fill text-success position-absolute end-0 top-50 translate-middle-y me-5"></i>
        <i id="passwordMismatchIcon" class="bi bi-x-circle-fill text-danger position-absolute end-0 top-50 translate-middle-y me-5"></i>
        <i class="bi bi-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"></i>
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger fs-6"></span>
</div>
