@model LoginViewModel

<!-- Email input -->
<div class="form-group mb-3 text-start">
    <label asp-for="Email" class="form-label fw-bold text-orange">e-mail</label>
    <input asp-for="Email" class="form-control rounded-3 shadow-none" placeholder="e-mail@example.com" required autocomplete="email">
    <span asp-validation-for="Email" class="text-danger fs-6"></span>
</div>

<!-- Password input -->
<div class="form-group mb-3 text-start">
    <label asp-for="Password" class="form-label fw-bold text-orange">password</label>
    <div class="password-wrapper position-relative">
        <input asp-for="Password" class="form-control rounded-3 shadow-none pe-5" type="password" placeholder="*************" required autocomplete="current-password"/>
        <i class="bi bi-eye toggle-password position-absolute top-50 end-0 translate-middle-y me-3"></i>
    </div>
    <span asp-validation-for="Password" class="text-danger fs-6"></span>
</div>
