@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="flex-grow-1 d-flex align-items-center my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bg-container col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 p-4 shadow rounded-4">

                <!-- Title -->
                <h1 class="text-center mb-1 fw-bold fs-3">FORGOT YOUR PASSWORD?</h1>
                <p class="text-center mb-3 text-dark fs-5">
                    Enter your email and we’ll send you a link to reset your password via announce<span class="fw-bold text-orange">IT</span>
                </p>

                <form asp-action="ForgotPasswordSubmit" method="post" class="needs-validation" novalidate>

                    <!-- Email input -->
                    <div class="form-group mb-3 text-start">
                        <label asp-for="Email" class="form-label fw-bold text-orange">email</label>
                        <input asp-for="Email" class="form-control rounded-3 shadow-none" placeholder="e-mail@example.com" autocomplete="email" required/>
                        <span asp-validation-for="Email" class="text-danger fs-6"></span>
                    </div>

                    <!-- Reset link button -->
                    <button type="submit" class="btn btn-orange w-100 py-2 mt-3 rounded-3">
                        <i class="bi bi-envelope-arrow-up me-1"></i>send reset link
                    </button>

                    <!-- Back to sign in button -->
                    <div class="text-center mt-3 fs-5">
                        <a asp-action="Login" class="text-decoration-none fw-bold text-orange">back to login</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
