@model RegisterViewModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="flex-grow-1 d-flex align-items-center my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bg-container col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 p-4 shadow rounded-4">

                <!-- Title -->
                <h1 class="text-center mb-1 fw-bold fs-3">LET’S SIGN UP</h1>
                <p class="text-center mb-3 text-dark fs-5">
                    & join announce<span class="fw-bold text-orange">IT</span>
                </p>

                <form hx-post hx-action="RegisterSubmit" hx-target="#register-result" hx-swap="innerHTML"
                    hx-on:after-request="updatePasswordMatchRefs()" class="needs-validation" novalidate>

                    <div id="register-result">
                        @await Html.PartialAsync("_RegisterForm", Model)
                    </div>

                    <!-- Sign up button -->
                    <button type="submit" class="btn btn-orange w-100 py-2 mt-3 rounded-3">
                        <i class="bi bi-box-arrow-in-right me-1"></i>sign up
                    </button>

                    <!-- Link to sign in page -->
                    <div class="text-center mt-3 fs-5 text-dark">
                        already have an account? <a asp-action="Login" class="text-decoration-none fw-bold text-orange">sign in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/password-match.js" asp-append-version="true"></script>
}
