@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Password Reset Successful";
}

<div class="flex-grow-1 d-flex align-items-center my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="bg-container col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4 p-4 shadow rounded-4">

                <!-- Title -->
                <h1 class="text-center mb-1 fw-bold fs-3">YOUR PASSWORD HAS BEEN RESET</h1>
                <p class="text-center mb-3 text-dark fs-5">
                    Your new password is active. You can now access announce<span class="fw-bold text-orange">IT</span>
                </p>

                <!-- Go to sign in button -->
                <a asp-action="Login" class="btn btn-orange w-100 py-2 mt-3 rounded-3">
                    <i class="bi bi-box-arrow-in-right me-1"></i>go to login
                </a>
            </div>
        </div>
    </div>
</div>
